.becomeAHost,
.stays {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 36px;
}
.becomeAHost {
  min-width: 94px;
  white-space: nowrap;
}
.navLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.alertsIcon {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.avatarIcon {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.loginSection {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.appHeaderOld,
.headerContent,
.loginSection {
  display: flex;
  align-items: center;
}
.headerContent {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  gap: var(--gap-xl);
}
.appHeaderOld {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--light-grey-border);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-xl) var(--padding-xs);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
